name: Build Fireball and Management Tools
env:
  AWS_REGION: eu-west-2
permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [master]
jobs:
  local_tests:
    name: local test stage
    runs-on: win10
    steps:
      - name: "☁️ checkout repository"
        uses: actions/checkout@v4
      - name: testing
        run: |
          conda activate ukmon-admin
          pytest -v ./tests --cov=. --cov-report=term-missing
  build_usermgmt:
    name: build camera manager
    runs-on: win10
    needs: local_tests
    steps:
      - name: building
        run: |
          echo "running build step"
          conda activate ukmon-admin
          pyinstaller ./stationMaint2.py --noconsole --onefile --windowed --icon .\camera.ico
          markdown2 ./README.md > README.html
  package_usermgmt:
    name: package camera manager
    runs-on: win10
    needs:
      - build_usermgmt
    steps:
      - name: packaging
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: cam_management_setup.iss
  release_usermgmt:
    name: release camera manager
    runs-on: win10
    needs:
      - package_usermgmt
    steps:
      - name: release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.UKMDA_MM_PAT }}
        with:
          file: e:\temp\setup_cameraMgmt.exe
          tags: true
          draft: true
          overwrite: true
          tag_name: 2025.11.1
          default_release_name: Camera Management Tool
          default_release_body_path: README.md
  cleanup_usermgmt:
    name: clean up temp files
    runs-on: win10
    continue-on-error: true
    needs:
      - release_usermgmt
    steps:
      - name: delete temp cameramgmt package
        run: |
          del e:\temp\setup_cameraMgmt.exe
